{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
<!--      action을 지정하지 않는 경우 현재 페이지의 URL이 디폴트 action으로 설정됨.-->
<!--      동일한 템플릿을 여러 기능에서 함께 사용할 경우에는 이처럼 form의 action 속성을 비워두는 기법을 종종 사용함.-->

        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
<!--            제목 항목에서 value 값은 오류가 발생했을 경우 기존에 입력했던 값을 유지하기 위함. 장고의 템플릿 필터는 |default_if_none:'' 처럼 | 기호와 함께 사용됨-->


        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
<!--{{ form.as_p }}에서 자동으로 생성되는 HTML 대신 제목과 내용에 해당되는 HTMl코드를 작성함. question_create 함수에서 form.is_valid()가 실패할 경우-->
<!--        발생하는 오류의 내용을 표시하기 위해 오류를 표시하는 영역을 추가함-->



<!--        {{ form.as_p }}-->
<!--      question_create 함수에서 전달한 QuestionForm의 객체. 폼에 정의한 subject, content 속성에 해당하는 HTML 코드를 자동으로 생성-->

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}